.addContactBtn{
border-radius: 4px;
height: 28px;
margin-top: 15px;
margin-left: 60px;
background-color: rgb(241, 173, 217);
border: 1px solid grey;
color:  rgb(74, 74, 74);
}

.container{
max-width: 300px;
background-color: #f7f7f7;
margin: 0 auto;
border-radius: 5px;
padding: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

